.black {
  color: #000000;
}

.c-red {
  color: #db4343;
}

.blue {
  color: #2e91fc;
}

.c-white {
  color: #ffffff;
}

/* GRADIENT */

.blue-gr {
  background-image: linear-gradient(to right, #008ed4, #94bed1);
}

.silver-gr {
  background-image: linear-gradient(to right, #5e6069, #d9dde6);
}

.gold-gr {
  background-image: linear-gradient(to right, #e0e400, #f1edb5);
}

.black-gr {
  background-image: linear-gradient(to right, #1b1b1b, #444444);
}
