


.frontend {
    height: 70vh;   
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    background-position:bottom;
}


.navbar-brand {
    font-weight: 700;
}


#menu .nav-pills .nav-link.active {
    background-color: transparent;
  }

.nav-link {
    padding: 17px 55px;
    margin-right: 25px;    
}

.nav-link b {
    color:#000000;
    transition: 0.3s ease-in;
}

.nav-link b:hover {
    color: #ed5b0d;
}


/* adjust tabs to bootstrap bg-light background */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #dee2e6 #dee2e6 #f8f9fa;
}

#menu-my-cats .nav-link {
  width: 156px;
}


.catGroup { 
    margin-top: 0px;
    width: 100%;    
}

#canvas {
    position: absolute;
}

.banner {
    background-color: rgba(161, 36, 7, 0.8);
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;    
    width: 82%;
    text-align: center;
    position: relative;    
}

.middleBox {
    margin-top: 80px;
    margin-bottom: 120px;
}

/*Added*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 106px;
    background: #343a40;
    padding-right: 0 !important;
}


.topBar {
    display: block;
    width: 100%;
    border-radius: 0%;
}

.absoluteBelowNavbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 106px;
}


footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 8.5%;
    padding: 2vh;
    background: #F8F8F8;
}

.featureBox {

    padding-left:30px;
    padding-right:30px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 1px solid #ffc5c2;
    border-radius: 10px;
    margin:10px;
    transition: 0.8s ease-in-out;
}

.featureBox h4 {
    font-weight: 600;
} 

.featureBox:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
}


.egg {
    width: 150px;
    height: 150px;
    background: url('../images/egg.png') no-repeat;
    background-size: contain;
}



/* BUTTONS */

.red-btn {
    background-image: -webkit-linear-gradient(0deg, #f14437 0%, #ed5b0d 99%);
    color: #ffffff;
    border-radius: 30px;
    padding: 17px 55px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .red-btn:hover {
    background-color: #cc3737;
    color: #ffffff;
  }

  .dark-btn {
    background-image: -webkit-linear-gradient(0deg, #25211f 0%, #312721 99%);
    color: #ffffff;
    border-radius: 30px;
    padding: 17px 30px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .dark-btn:hover {
    background-color: #423933;
    color: #ffffff;
  }
  
 .white-btn {
    background: #ffffff;    
    border-radius: 30px;
    padding: 17px 3vw;
    font-weight: 600;
    letter-spacing: 1px;
 } 
