{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "env": {
    "jquery": true,
    "browser": true,
    "commonjs": true,
  "es2021": true
  },
  "extends": [
    "jquery",
    "plugin:jquery/slim",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "jquery"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "no-undef": "off",
    "no-unused-vars": "off"
  }
}