@import "./catAnimations.css";

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.ttf");
}

html,
body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-bg {
  background-image: url("/public/img/banner.png");
  background-size: cover;
  background-position: bottom;
}

.box-shadow {
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05) !important;
}

.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.text-shadow-light {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Marketplace cat card */
.card {
  filter: brightness(0.98);
  transition: all 0.3s ease-in-out;
  width: auto;
  height: auto;
  border: 1px solid #c5c4c4;
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}

.card:hover {
  filter: brightness(1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
